@charset "UTF-8";
* {
    box-sizing: border-box;
}

.ans{
    text-align: center;
}

.btn {
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 0;
    background-color: #fff;
    text-align: center;
    margin: 15px auto;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #000;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

a:hover {
    color: #fff;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(80, 136, 211);
    color: white;
}

h2 {
    text-align: center;
}

h2::before {
    content: "【";
    color: blue;
}

h2::after {
    content: "】";
    color: blue;
}

footer {
    margin-top: 50px;
}

p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.text {
    font-size: 20px;
}