@charset "UTF-8";
* {
    box-sizing: border-box;
    background-color: gray;
}

/* リストのCSS */
.nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
 
.nav li {
  width: 200px;
  text-align: right;
  margin: 0;
}

.nav li a {
    display: block;
    width: 130px;
    line-height: 32px;
    text-decoration: none;
    color: #fff;
    background-color: green;
    font-weight: bold;
    margin: 5px auto;
}

.nav li a:hover {
    color: green;
    background-color: #fff;
}

a {
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
    text-align: center;
    margin: 0px auto 15px;
    text-decoration: none;
    display: block;
    color: #000;
    background-color: white;
    border: 2px solid #000;
}

a:hover {
    color: #fff;
    background-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: rgb(80, 136, 211);
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h2::before {
    content: "【";
    color: blue;
}

h2::after {
    content: "】";
    color: blue;
}
.topic {
    text-align: center;
}
.rule {
    text-align: center;
    display: block;
}

.ask {
    text-align: center;
    display: block;
}

p {
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: inline-block;
}

.text {
    font-size: 20px;
}

footer {
    color: white;
    background-color: black;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

small {
    background-color: black;
}

span {
    font-weight: bold;
}

span.b {
    color: red;
}

span.tb {
    color: red;
    background-color: rgb(80, 136, 211);
}

.big {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.ans{
    text-align: center;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; 
}

.show {
    width: 130px;
    margin-bottom: 6px;
    margin-left: 6px;
}

.qpic {
    margin: 0 10px 10px;
}

@keyframes open-keyanime1{ /* アニメーションの動き */ 
    0% {
      opacity:0; /* 完全に透明 */ } 
    100% {
      opacity:1; /* 透明度無し、通常表示 */ } } 
  .animation1{ 
    animation-name: open-keyanime1 ; 
    animation-duration: 8s; /* 5秒間で表示 */ 
    animation-fill-mode: both;
    width: 350px;
  }

@media (max-width:767px) {
.show {width: 35px;}
.qpic {width: 150px;}
}